<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Password</th>
      <th>Cover photo</th>
      <th>Profile picture</th>
      <th>Location</th>
      <th>Private</th>
      <th>Bio</th>
      <th>Website</th>
      <th>Timezone</th>
      <th>Language</th>
      <th>Phone</th>
      <th>Verified</th>
      <th>Name</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <%# @users.each do |user| %>
      <%#= render partial: "user", object: user %>
      <%#= render partial: "users/user", object: user %>
      <%#= render partial: "user", locals:{user: user} %>
    <%# end %>

    <%#= render partial: "user", collection: @users %>

    <%= render @users %>
  </tbody>
</table>


<%= link_to 'New User', new_user_path %>


